div{ 
	color: black;
	text-align: center; 
}
.#FFB486-background{
	color: black;
	text-align: center;
}
h2{
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 5px 
}
